<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<ul id="nav" class="nav nav-pills">
		<li role="presentation"><a href="/admin/users" >User</a></li>
		<li role="presentation"><a href="/admin/stores" >Store</a></li>
        <li role="presentation"><a href="/admin/addons" >Addon</a></li>
    </ul>
  </div>
</nav>


 
