<h3 class="container">User Management</h3>
<ol class="breadcrumb container">
  <li><a href="/admin">Admin</a></li>
  <li class="active">User</li>
</ol>
<div id="container" class="container">
	<table id="storesTable" class="table">
		<tr>
			<th>User Name</th>
			<th>Nickname</th>
			<th>Action</th>
		</tr>
		<tr v-repeat='users'>
			<td>{{username}}</td>
			<td>{{nickname}}</td>
			<td>
				<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" data-pk="{{id}}" data-username='{{username}}' data-nickname='{{nickname}}' data-password='{{password}}' >Edit</button>
				<button class="btn btn-danger btn-sm" data-pk="{{id}}" v-on="click: onDelete(id, $event)">Delete</button>
				|
				<button class="btn btn-danger btn-sm" v-on="click: onSelect(id, $event)">Favourite Products</button>
			</td>
		</tr>
	</table>
	<button id="add" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Create</button>
</div>

<div id="editModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Create</h4>
      </div>
      <div class="modal-body">
		<input id='pk' type="hidden" class="form-control" />
		<div class="input-group">
		  <span class="input-group-addon" id="nameLabel">User Name</span>
		  <input id='username' type="text" class="form-control" placeholder="User Name" />
		</div><br />
		<div class="input-group">
		  <span class="input-group-addon" id="nameLabel">Password</span>
		  <input id='password' type="password" class="form-control" placeholder="Password" />
		</div><br />
		<div class="input-group">
		  <span class="input-group-addon" id="addressLabel">Nickname</span>
		  <input id='nickname' type="text" class="form-control" placeholder="Nickname" />
		</div><br />
      </div>
      <div class="modal-footer">
        <button id="cancelChange" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveChange" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>

$(function(){
	var userController = new Vue({
		el: '#container',
		methods: {
			onDelete: function(id, e){
				if(confirm("Delete this record?")){
					$.ajax({
						type: "DELETE",
						url: '/user/delete',
						data: {id: id},
						dataType: 'json',
						success: function(result){
							console.log(result.message);
							load();
						},
						error: function(jqXhr, textStatus, errorThrown){
							console.log(errorThrown);
						}
					});
				}
			}
		}
	});
	
	//edit or create flag
	var METHOD = "POST";
	var url = "/user/create";

	//get store
	function load(){
		$.ajax({
			type: "GET",
			url: '/users',
			dataType: 'json',
			beforeSend: function (xhr) {

			},
			complete: function(){
					
			},
			success: function (result, textStatus, jqXHR) {							
				userController.$data = result;
			},
			error: function(xhr, textStatus, errorThrown){
				alert("Error in getting Users "+textStatus);
			}
		});
	}
	load();
	
	//edit modal
	$('#editModal').on('show.bs.modal', function (e) {
 		var target = e.relatedTarget;
 		var username = target.dataset.username;
		var password = target.dataset.password;
		var nickname = target.dataset.nickname;
		
 		if(username){
 			METHOD = "PUT";
			url = "/user/update";
			$("#password").attr("placeholder", "Leave it empty if no changes");
 		}
			
		$("#modalLabel").text(target.textContent);
		
		$('#pk').val(target.dataset.pk);
 		$('#username').val(username);
		$("#password").val(password);
		$('#nickname').val(nickname);
	});
	
	$('#editModal').on('hidden.bs.modal', function (e) {
		$('#username').val('');
		$("#password").attr("placeholder", "Password");
		$('#nickname').val('');
			
		METHOD = "POST";
		url = "/user/create";
	});
		
	//save changes
	$('#saveChange').click(function(){
		//confirm("Save Changes?");
		var user = {};
		var pk = $('#pk').val();
		var username = $('#username').val();
		var password = $('#password').val();
		var nickname = $('#nickname').val();
		
		if(!username || !password){
			alert("please fulfil the information");
			return;
		}
		
 		$('#editModal').modal('hide');
		
		if(METHOD == "PUT"){
			user = {
				id: pk,
				username: username,
				password: btoa(password),
				nickname: nickname
			}
		}else if(METHOD == "POST"){	
			user = {
				username: username,
				password: btoa(password),
				nickname: nickname
			}
		}
		
		$.ajax({
			type: METHOD,
			url: url,
			data: user,
			dataType: 'json',
			success: function(result){
				console.log(result.message);
				load();
			},
			error: function(jqXhr, textStatus, errorThrown){
				console.log(errorThrown);
			}
		});
	});
})
	
</script>