#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 25px;
  height: 40px;
  line-height: 40px;
}

#container{
	width: 70%;
	margin-left: 8%;
	margin-top: 2%;
}

.price{
	margin-left:50px;
	width:70%;
}